
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.lk-label {
    font-weight: bold;
    margin-right: 10px;
    color: #1976D2;
    font-size: 20px;

}

.termin {
    margin-bottom: 15px;
}


.lk-select {
    padding: 6px 10px;
    font-size: 1em;
    font-family: Arial, sans-serif;
    border: 1px solid #1976D2;    /* dezentes Blau */
    border-radius: 4px;
    background-color: #fff;        /* weißer Hintergrund */
    color: #333;
    cursor: pointer;
    appearance: none;              /* Standardpfeil entfernen */
    transition: border-color 0.15s ease;
    margin-bottom: 5px;

}

.date-text {
    margin-left: 0px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* moderne Schrift */
    font-size: 2rem;      /* größere Schrift */
    font-weight: 700;     /* fett */
    color: #B00020;       /* passendes Rot wie bei Tagen */
    text-align: center;   /* zentriert */
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2); /* leichter Schatten */
    margin-bottom: 0.5em;
    letter-spacing: 1px;  /* etwas mehr Abstand zwischen Buchstaben */
    text-decoration: underline;
    text-decoration-color: #0D47A1;
}